body {
    background-image: url(img/8ball.jpg); 
    background-color: black;
    background-image: 100%;
    
}

h1 {
    color: #ebe244;
    font-family: alfarn, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 50pt;
    margin-left: 25%;
    margin-top: 23%;
    padding-bottom: 0px;
}

h1:hover {
    color: #123078;
}

#display{
    color: black;
    font-family: neue-kabel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    margin-left: 35%;
    padding-top: 0px;
    margin-top: -3%;
    width: 650px;
    display: none;
}

#final {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.main{

}
/* #happy {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: fixed;
    margin-top: -28%;
    margin-left: -1%;
    display: none;
}

#sad {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: fixed;
    margin-top: -28%;
    margin-left: -1%;
    display: none;
} */